@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-jost {
    font-family: "Jost", sans-serif;
}

html {
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
}

.active {
    color: #3B61DD;
}

.bg-overlay {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.400) 0%, rgba(0, 0, 0, 0.400) 100%);
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.7455182756696428) 0%, rgba(0, 0, 0, 0.22450987230829833) 100%); */
}

.bg-overlay2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, #242632df 0%, #242632df 100%);
}

.bg-overlay3 {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, #24263299 0%, #24263299 100%);
}

@keyframes scaleBackground {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

/* .scaling-image {
    animation: scaleAnimation 4s ease-in-out infinite;
} */